<a href="https://colab.research.google.com/github/singhriya61423-a11y/Python/blob/main/python_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
""" Hi I am
Starting Python
Code Today"""
print("Hello World") # Hi,I am Starting Python

Hello World

In [ ]:
print("Name: Riya")
print("Father’s Name: Avdhesh Kumar Singh")
print("Mother’s Name: Baby Devi")
print("Date of Birth: 04 Dec 2004")
print("Gender: Female")
print("Nationality: Indian")
print("Marital Status: Unmarried")
print("Address: House No. 6074 Maloya Chd")
print("Contact Number: 6283913249")
print("Email ID: singhriya61423@gmail.com")

Name: Riya
Father’s Name: Avdhesh Kumar Singh
Mother’s Name: Baby Devi
Date of Birth: 04 Dec 2004
Gender: Female
Nationality: Indian
Marital Status: Unmarried
Address: House No. 6074 Maloya Chd
Contact Number: 6283913249
Email ID: singhriya61423@gmail.com

In [ ]:
price_of_burgar =300
price_of_coke =50
price_of_pizza =500
price_of_noodle =250
price_of_pastry=150
Total_Price=price_of_burgar+price_of_coke+price_of_pizza+price_of_noodle+price_of_pastry
print("price_of_burgar=",price_of_burgar)
print("price_of_coke=",price_of_coke)
print("price_of_pizza=",price_of_pizza)
print("price_of_noodle=",price_of_noodle)
print("price_of_pastry=",price_of_pastry)
print("__________________")
print("Total price=",Total_Price)
Discount_value=Total_Price*10/100
print("Discount_value=",Discount_value)
Grand_total=Total_Price-Discount_value
print("Grand_total=",Grand_total)

price_of_burgar= 300
price_of_coke= 50
price_of_pizza= 500
price_of_noodle= 250
price_of_pastry= 150
__________________
Total price= 1250
Discount_value= 125.0
Grand_total= 1125.0

In [ ]:
Name_of_item_1= input("please enter name of item1")
Price_of_item_1= int(input("enter price of item1"))

Name_of_item_2 =input("please enter name of item2")
Price_of_item_2=int(input("enter price of percent"))
Total_Price = Price_of_item_1 + Price_of_item_2
print("total bill : ", Total_Price)

please enter name of item1mobile
enter price of item112000
please enter name of item2mobile case
enter price of percent5
total bill :  12005

In [ ]:
Name_of_item1= input("please enter name of item1")
Price_of_item1= int(input("enter price of item1"))
Name_of_item2 =input("please enter name of item2")
Price_of_item2=int(input("enter price of percent"))
Name_of_item3=input("please enter name of item3")
Price_of_item3=int(input("enter price of percent"))
Total_Price = Price_of_item1+ Price_of_item2
print("total bill : ", Total_Price)
discount_value=Total_Price*30/100
print("discount=",discount_value)
final_price=Total_Price-discount_value
print("final_price =",final_price)

please enter name of item1mobile
enter price of item112000
please enter name of item2phone cover
enter price of percent500
please enter name of item3ear bud
enter price of percent350
total bill :  12500
discount= 3750.0
final_price = 8750.0

In [ ]:
p=int(input("enter your principal"))
r=int(input("enter your rate of interest"))
t=int(input("enter your time"))
t_days=int(input("enter days"))
month=input("pls enter month:")
if month =="april" or month == "june" or month == "september" or month == "november":
   days_in_month= 30
elif month=="jan" or month =="march" or month=="may" or month=="july" or month=="august" or month=="oct" or month=="nov" or month =="dec":
  days_in_month=31
else:
  days_in_month=28
print("days_in_month=",days_in_month)
t_month=t_days/days_in_month

si=(p*r*t)/100
si2=(p*r*t_month)/100

total_si=si+si2
print("total_si=",total_si)

In [ ]:
number=-4
if number>0:
  print("positive")
elif number <0:
    print("nagative")
else:
  print("zero")

nagative

In [ ]:
number=45
if number%2==0:
  print("even")
else:
  print("odd")

odd

In [ ]:
number=4
if number%2!=0:
  print("odd")
else:
  print("even")

even

In [ ]:
number=27385
if number%5==0:
  print("divisible")
else:
  print("not divisible")

divisible

In [ ]:
number=225
if number%5==0 or 15==0 or 25==0:
  print("divisbile")
else:
  print("not divisible")

divisbile

In [ ]:
number=225
if number%15==0 or number %50==0 or number %25==0:
  print("divisible")
else:
  print("not divisible")

divisible

In [ ]:
number=85
if number>90:
  print("A grade")
elif number>80:
  print("B grade")
elif number>70:
  print("C grade")
elif number>60:
  print("D grade")
else:
  print("fail")

B grade

In [ ]:
number=25789
if number/3==0 and 7==0:
  print("divisible")
else:
  print("not divisible")

not divisible

In [ ]:
number=105
if number%3==0 and number%7==0:
  print("divisible")
else:
  print("not divisible")

divisible

In [ ]:
weekday= input("enter weekday: ")
if weekday =="Monday" or weekday=="Tuesday" or weekday=="Wednesday" or weekday=="Thursday" or weekday=="Friday":
  print("weekday")
else:
  print("weekend")

enter weekday: sunday
weekend

In [ ]:
month=input("pls enter month:")
if month =="april" or month == "june" or month == "september" or month == "november":
   days_in_month= 30
elif month=="jan" or month =="march" or month=="may" or month=="july" or month=="august" or month=="oct" or month=="nov" or month =="dec":
  days_in_month=31
else:
  days_in_month=28
print("days_in_month=",days_in_month)

pls enter month:april
days_in_month= 30

In [ ]:
gender = input("Enter gender: ")
age = int(input("Enter age: "))

if gender == "male":
    print("Hotel: 1" )

    if age < 30:
        print("Block: 1")
    else:
        print("Block: 2")

elif gender == "female":
    print("Hotel: 2")

    if age < 30:
        print("Block: 1")
    else:
        print("Block: 2")

else:
    print("Invalid gender entered")

Enter gender: male
Enter age: 24
Hotel: 1
Block: 1

In [ ]:
year=int(input("enter year="))
if year%4==0 and year%100!=0 or year%400==0:
  print("leap year")
else:
  print("not a leap year")

enter year=2014
not a leap year

In [ ]:
year=int(input("enter year"))
if year%4==0:
  if year%100==0:
    if year%400==0:
      print("leap year")
    else:
     print ("not a leap year")
  else:
    print ("leap year")
else:
  print("not a leap year")

enter year2025
not a leap year

In [ ]:
for i in range(5):
  print("hello")

hello
hello
hello
hello
hello

In [ ]:
for i in range(1,11,2):
  print(i)

1
3
5
7
9

In [ ]:
p=int(input("enter your principal"))
r=int(input("enter your rate of interest"))
t=int(input("enter your time"))
t_days=int(input("enter days"))
month=input("pls enter month:")
year=int(input("enter year"))
if month =="april" or month == "june" or month == "september" or month == "november":
   days_in_month= 30
elif month=="jan" or month =="march" or month=="may" or month=="july" or month=="august" or month=="oct" or month=="nov" or month =="dec":
  days_in_month=31
else:
   if year%4==0 and year%100!=0 or year%400==0:
      day_in_month=29
   else:
      days_in_month=28
      print("days_in_month=",days_in_month)
t_month=t_days/days_in_month

si=(p*r*t)/100
si2=(p*r*t_month)/100

total_si=si+si2
print("total_si=",total_si)

enter your principal1000
enter your rate of interest2
enter your time23
enter days3
pls enter month:jan
enter year2025
total_si= 461.93548387096774

In [ ]:
for i in range(2,101,6):
 print(i)

2
8
14
20
26
32
38
44
50
56
62
68
74
80
86
92
98

In [ ]:
sum=0
for i in range(1,11):
  sum=sum+i
  print(sum)

1
3
6
10
15
21
28
36
45
55

In [ ]:
sum=0
for i in range(1,11):
  sum=sum+i
print(sum)

55

In [ ]:
sum=0
for i in range(1,100,2):
  sum=sum+i
  print(sum)

1
4
9
16
25
36
49
64
81
100
121
144
169
196
225
256
289
324
361
400
441
484
529
576
625
676
729
784
841
900
961
1024
1089
1156
1225
1296
1369
1444
1521
1600
1681
1764
1849
1936
2025
2116
2209
2304
2401
2500

In [ ]:
fact=1
for a in range(1,7):
  fact=(fact*a)
  print(fact)

1
2
6
24
120
720

In [ ]:
fact=1
for a in range(1,4):
 fact=(fact*a)
 print(fact)

1
2
6

In [ ]:
fact=1
sum=0
for a in range(1,6):
  fact=(fact*a)
  sum=fact+sum
  print(sum)

1
3
9
33
153

In [ ]:
fact=1
sum=0
for a in range(1,6):
  fact=(fact*a)
  if a%2!=0:
    sum=fact+sum
print(sum)

127

In [ ]:
fact=1
sum=0
for a in range(2,7):
 fact=(fact*a)
 if a%2==0:
  sum=fact+sum
print(sum)

746

In [ ]:
fact=1
sum=0
for a in range(2,11):
  fact=(fact*a)
  if a%4==2:
   sum=fact+sum
print(sum)

3629522

In [ ]:
sum=0
for a in range(1,6,2):
  fact=1
  for b in range(1,a+1):
    fact=fact*b
  sum=sum+fact
  print(sum)

1
7
127

In [ ]:
sum=0
for a in range(2,21,6):
  fact=1
  for b in range(1,a+1):
    fact=fact*b
  sum=sum+fact
  print(sum)

2
40322
87178331522
2432902095354971522

In [ ]:
fact=1
sum=0
for a in range(2,21):
 fact=fact*a
 if a%6==2:
  sum=sum+fact
print(sum)

2432902095354971522

In [ ]:
#fabonacci series
first_term=0
second_term=1
print(first_term)
print(second_term)
for a in range(3,11):
  next_term=first_term+second_term
  first_term=second_term
  second_term=next_term
  print(next_term)

0
1
1
2
3
5
8
13
21
34

In [ ]:
n=25
is_prime=True
for a in range(2,n):
 if n%a==0:
  is_prime=False
print(n)
if is_prime:
  print("prime no")
else:
  print("not prime")

25
not prime

In [ ]:
n=25
for a in range(2,int(n**0.5)+1):
  if n%a==0:
    print("not prime no.")
    break
else:
  print("prime")

not prime no.

In [ ]:
for n in range(2,1001):
 for a in range(2,int(n**0.5)+1):
  if n%a==0:
    break
 else:
  print(n)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97
101
103
107
109
113
127
131
137
139
149
151
157
163
167
173
179
181
191
193
197
199
211
223
227
229
233
239
241
251
257
263
269
271
277
281
283
293
307
311
313
317
331
337
347
349
353
359
367
373
379
383
389
397
401
409
419
421
431
433
439
443
449
457
461
463
467
479
487
491
499
503
509
521
523
541
547
557
563
569
571
577
587
593
599
601
607
613
617
619
631
641
643
647
653
659
661
673
677
683
691
701
709
719
727
733
739
743
751
757
761
769
773
787
797
809
811
821
823
827
829
839
853
857
859
863
877
881
883
887
907
911
919
929
937
941
947
953
967
971
977
983
991
997

In [ ]:
sum=0
for a in range(1,101):
  if a%2==0 and a%5==0:
    sum=sum+a
print(sum)

550

In [ ]:
for a in range(1,11):
  print(19*a)

19
38
57
76
95
114
133
152
171
190

In [ ]:
for n in range(2, 21):
    print("Table of", n)
    for i in range(1, 11):
        print(n * i)
    print()

Table of 2
2
4
6
8
10
12
14
16
18
20

Table of 3
3
6
9
12
15
18
21
24
27
30

Table of 4
4
8
12
16
20
24
28
32
36
40

Table of 5
5
10
15
20
25
30
35
40
45
50

Table of 6
6
12
18
24
30
36
42
48
54
60

Table of 7
7
14
21
28
35
42
49
56
63
70

Table of 8
8
16
24
32
40
48
56
64
72
80

Table of 9
9
18
27
36
45
54
63
72
81
90

Table of 10
10
20
30
40
50
60
70
80
90
100

Table of 11
11
22
33
44
55
66
77
88
99
110

Table of 12
12
24
36
48
60
72
84
96
108
120

Table of 13
13
26
39
52
65
78
91
104
117
130

Table of 14
14
28
42
56
70
84
98
112
126
140

Table of 15
15
30
45
60
75
90
105
120
135
150

Table of 16
16
32
48
64
80
96
112
128
144
160

Table of 17
17
34
51
68
85
102
119
136
153
170

Table of 18
18
36
54
72
90
108
126
144
162
180

Table of 19
19
38
57
76
95
114
133
152
171
190

Table of 20
20
40
60
80
100
120
140
160
180
200

In [ ]:
for a in range (5,1,-1):
  for b in range(1,a):
    print(b,end='')
  print()

1234
123
12
1

In [15]:
for a in range(4,0,-1):
  for b in range(a,0,-1):
   print(b,end='')
  print()

4321
321
21
1

In [21]:
age= int(input("Enter your age = "))
if age>=1 and age<=12:
  print("you are kid and focus on your study")
elif age>=13 and age<=17:
  print("you are teenager and not able to vote")
elif age>=18 and age<=19:
  print("you are still teenager but able to vote")
elif age>=20 and age<=60:
  print("you are an adult and able to vote")
elif age>=61 and age<=80:
  print("you are senior citizen and enjoy your rest of life")
else:
  print("you are not in this earth")

Enter your age = 65
you are senior citizen and enjoy your rest of life