<a href="https://colab.research.google.com/github/singhriya61423-a11y/Python/blob/main/python_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
""" Hi I am
Starting Python
Code Today"""
print("Hello World") # Hi,I am Starting Python

Hello World

In [ ]:
print("Name: Riya")
print("Father’s Name: Avdhesh Kumar Singh")
print("Mother’s Name: Baby Devi")
print("Date of Birth: 04 Dec 2004")
print("Gender: Female")
print("Nationality: Indian")
print("Marital Status: Unmarried")
print("Address: House No. 6074 Maloya Chd")
print("Contact Number: 6283913249")
print("Email ID: singhriya61423@gmail.com")

Name: Riya
Father’s Name: Avdhesh Kumar Singh
Mother’s Name: Baby Devi
Date of Birth: 04 Dec 2004
Gender: Female
Nationality: Indian
Marital Status: Unmarried
Address: House No. 6074 Maloya Chd
Contact Number: 6283913249
Email ID: singhriya61423@gmail.com

In [ ]:
price_of_burgar =300
price_of_coke =50
price_of_pizza =500
price_of_noodle =250
price_of_pastry=150
Total_Price=price_of_burgar+price_of_coke+price_of_pizza+price_of_noodle+price_of_pastry
print("price_of_burgar=",price_of_burgar)
print("price_of_coke=",price_of_coke)
print("price_of_pizza=",price_of_pizza)
print("price_of_noodle=",price_of_noodle)
print("price_of_pastry=",price_of_pastry)
print("__________________")
print("Total price=",Total_Price)
Discount_value=Total_Price*10/100
print("Discount_value=",Discount_value)
Grand_total=Total_Price-Discount_value
print("Grand_total=",Grand_total)

price_of_burgar= 300
price_of_coke= 50
price_of_pizza= 500
price_of_noodle= 250
price_of_pastry= 150
__________________
Total price= 1250
Discount_value= 125.0
Grand_total= 1125.0

In [ ]:
Name_of_item_1= input("please enter name of item1")
Price_of_item_1= int(input("enter price of item1"))

Name_of_item_2 =input("please enter name of item2")
Price_of_item_2=int(input("enter price of percent"))
Total_Price = Price_of_item_1 + Price_of_item_2
print("total bill : ", Total_Price)

please enter name of item1mobile
enter price of item112000
please enter name of item2mobile case
enter price of percent5
total bill :  12005

In [ ]:
Name_of_item1= input("please enter name of item1")
Price_of_item1= int(input("enter price of item1"))
Name_of_item2 =input("please enter name of item2")
Price_of_item2=int(input("enter price of percent"))
Name_of_item3=input("please enter name of item3")
Price_of_item3=int(input("enter price of percent"))
Total_Price = Price_of_item1+ Price_of_item2
print("total bill : ", Total_Price)
discount_value=Total_Price*30/100
print("discount=",discount_value)
final_price=Total_Price-discount_value
print("final_price =",final_price)

please enter name of item1mobile
enter price of item112000
please enter name of item2phone cover
enter price of percent500
please enter name of item3ear bud
enter price of percent350
total bill :  12500
discount= 3750.0
final_price = 8750.0

In [ ]:
p=int(input("enter your principal"))
r=int(input("enter your rate of interest"))
t=int(input("enter your time"))
t_days=int(input("enter days"))
month=input("pls enter month:")
if month =="april" or month == "june" or month == "september" or month == "november":
   days_in_month= 30
elif month=="jan" or month =="march" or month=="may" or month=="july" or month=="august" or month=="oct" or month=="nov" or month =="dec":
  days_in_month=31
else:
  days_in_month=28
print("days_in_month=",days_in_month)
t_month=t_days/days_in_month

si=(p*r*t)/100
si2=(p*r*t_month)/100

total_si=si+si2
print("total_si=",total_si)

enter your principal45000
enter your rate of interest5
enter your time5
enter days12
pls enter month:feb
days_in_month= 28
total_si= 12214.285714285714

In [ ]:
number=-4
if number>0:
  print("positive")
elif number <0:
    print("nagative")
else:
  print("zero")

nagative

In [ ]:
number=45
if number%2==0:
  print("even")
else:
  print("odd")

odd

In [ ]:
number=4
if number%2!=0:
  print("odd")
else:
  print("even")

even

In [ ]:
number=27385
if number%5==0:
  print("divisible")
else:
  print("not divisible")

divisible

In [ ]:
number=225
if number%5==0 or 15==0 or 25==0:
  print("divisbile")
else:
  print("not divisible")

divisbile

In [ ]:
number=225
if number%15==0 or number %50==0 or number %25==0:
  print("divisible")
else:
  print("not divisible")

divisible

In [ ]:
number=85
if number>90:
  print("A grade")
elif number>80:
  print("B grade")
elif number>70:
  print("C grade")
elif number>60:
  print("D grade")
else:
  print("fail")

B grade

In [ ]:
number=25789
if number/3==0 and 7==0:
  print("divisible")
else:
  print("not divisible")

not divisible

In [ ]:
number=105
if number%3==0 and number%7==0:
  print("divisible")
else:
  print("not divisible")

divisible

In [ ]:
weekday= input("enter weekday: ")
if weekday =="Monday" or weekday=="Tuesday" or weekday=="Wednesday" or weekday=="Thursday" or weekday=="Friday":
  print("weekday")
else:
  print("weekend")

enter weekday: sunday
weekend

In [ ]:
month=input("pls enter month:")
if month =="april" or month == "june" or month == "september" or month == "november":
   days_in_month= 30
elif month=="jan" or month =="march" or month=="may" or month=="july" or month=="august" or month=="oct" or month=="nov" or month =="dec":
  days_in_month=31
else:
  days_in_month=28
print("days_in_month=",days_in_month)

pls enter month:april
days_in_month= 30

In [7]:
gender = input("Enter gender: ")
age = int(input("Enter age: "))

if gender == "male":
    print("Hotel: 1" )

    if age < 30:
        print("Block: 1")
    else:
        print("Block: 2")

elif gender == "female":
    print("Hotel: 2")

    if age < 30:
        print("Block: 1")
    else:
        print("Block: 2")

else:
    print("Invalid gender entered")

Enter gender: male
Enter age: 24
Hotel: 1
Block: 1